.shopping-cart {
  width: 95%;
  max-width: 350px;
  padding: 30px 25px;
  background-color: $cart;
  margin: 0 auto;
  border-radius: 12px;
  .product {
    display: flex;
    margin-bottom: 28px;
    justify-content: space-between;
    &-image {
      width: 45%;
      max-width: 160px;
      border-radius: 23px;
      overflow: hidden;
      figure {
        width: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    &-info {
      width: 50%;
      .name {
        color: $secondary-color;
        font-family: $primary-font;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        text-transform: capitalize;
        margin-bottom: 10px;
      }
      .prices {
        font-family: $primary-font;
        font-weight: 600;
        .price-discount {
          font-size: 16px;
          color: $primary-color;
        }
        .price {
          font-size: 10px;
          line-height: 12px;
          color: $secondary-color;
          margin-left: 4px;
          text-decoration: line-through;
        }
      }
      .quantity {
        margin-top: 40px;
        width: 123px;
        height: 50px;
        padding: 14px 10px;
        border: 1px solid $label-color;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .less,
        .add {
          display: flex;
          width: 20px;
          height: 20px;
          background-color: $select-drop-color;
          text-align: center;
          font-size: 25px;
          color: $label-color;
          font-family: $primary-font;
          align-items: center;
          justify-content: center;
          border-radius: 4px;
        }
        &__number {
          font-family: $primary-font;
          font-size: 16px;
          color: $text-color;
        }
      }
    }
  }
  .purchase-info {
    width: 100%;
    div.shipping,
    div.total {
      position: relative;
      font-family: $primary-font;
      color: $text-color;
      font-weight: 600;
      font-size: 14px;
      padding: 18px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &::before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #bdbdbd;
      }
    }
  }
}
